<div class="users_form">
  <div class="form-wrapper">
    <div class="users-form-title">
      <h2 class="form-title">Sign in</h2>
    </div>
    <div class="session">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "label-title" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'user-input-field' %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label-title" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'user-input-field' %>
        </div>

        <div class="user-links">
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <%= link_to 'or Sign up', new_user_registration_path, class: "link-to-session" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
<div class="error-messages-container">
  <%= render "users/shared/error_messages", resource: resource %>
</div>

<%#= render "users/shared/links" %>
