<div class="contents">
  <div class="post-contents-wrapper">
    <% if user_signed_in? %>
      <div class="post-title"><%= @post.title %></div>
      <p class="show-nickname">by <%= @post.user.nickname %></p>
      <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls preload="metadata" playsinline class="post-video">
      </video>
      <div class="bottom-contents">
        <% if current_user.id == @post.user_id %>
          <%= link_to '編集する', edit_post_path(@post.id), class:'post-edit' %>
          <%= link_to '削除する', post_path(@post.id), method: :delete, class:'post-destroy' %>
        <% end %>
        <%= link_to 'トップへ戻る', root_path, class: "link-to-root" %>
      </div>
    <% end %>
  </div>
</div>