<!DOCTYPE html>
<html>
  <head>
    <title>VlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'VLog app', root_path, class: "header-left" %>
      
      <ul class="header-right">
        <% if user_signed_in? %>
          <li class="header-list"><%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "sign"%></li>
        <% else %>
          <li class="header-list"><%= link_to 'about', root_path, class: "about" %></li>
          <li class="header-list"><%= link_to 'sign up', new_user_registration_path, class: "sign" %></li>
          <li class="header-list"><%= link_to 'sign in', new_user_session_path, class: "sign"%></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
